<div class='container pt-1'>
    <div class="d-flex flex-row-reverse">
        <div class="p-0">
            <button id="upload-flights-button" class="btn btn-primary float-right"><i class="fa fa-upload"></i> Upload Flights</button>
        </div>
    </div>

    {{#flights}}
    <div class="d-flex flex-row">
        <div class="p-0">
            <i class="fa fa-plane"></i>
            Aircraft (N Number - Airframe)
        </div>

        <div class="p-0">
            Itinerary
        </div>

        <div class="p-0">
            Date - Time
        </div>

        <div class="p-0">
            Duration
        </div>

        <div class="p-0">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-area-chart"></i>
            <i class="fa fa-video-camera"></i>
            <i class="fa fa-download"></i>
        </div>
    </div>
    {{/flights}}

    <div id="load-more"></div>
</div>
