<html>

    <head>

        <link rel="stylesheet" href="/css/theme-preload.css">
        <script src="/js/theme_preload-bundle.js"></script>


        <title>Summary - NGAFID</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel='stylesheet' href='/css/main.css'>
        <link rel='stylesheet' href='/css/font-awesome.min.css'>

        <script>
            var plotMapHidden = true;
                {{{numPages_js}}}
                {{{index_js}}}
                {{{navbar_js}}}
                {{{imports_js}}}
                {{{fleet_info_js}}}
        </script>

    </head>

    <body>
        <div id="welcome-page"></div>

        <div id="loading" style="display: none;">
            <div id="loading-image" class="fa fa-spinner" alt="Loading..."></div>
        </div>

        <!-- Error Modal -->
        <div id="error-modal" class='modal' tabIndex='-1' role='dialog'>
            <div class='modal-dialog modal-lg' role='document' style="position:fixed; top: 40%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
                <div id='error-modal-content'>
                </div>
            </div>
        </div>

        <!-- Load our javascript. -->
        <script src="/js/welcome-bundle.js"></script>

    </body>

</html>
