<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>NGAFID-Cesium Display</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/font-awesome.min.css'>

    <script>
        var plotMapHidden = true;
        {{{navbar_js}}}
        {{{events_js}}}
    </script>

    <style>
        html,
        body,
        #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* font-family: sans-serif;
                    background: #000; */
        }

        .backdrop {
            display: inline-block;
            background: rgba(42, 42, 42, 0.7);
            border-radius: 5px;
            border: 1px solid #444;
            padding: 5px 10px;
            color: #fff;
            line-height: 150%;
            font-size: small;
        }

        #heightSliderLabel,
        #heightValue {
            vertical-align: top;
        }

        .backdrop a:link,
        .backdrop a:visited,
        .backdrop a:hover {
            color: #fff
        }

        .loadingIndicator {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -33px;
            margin-left: -33px;
            width: 66px;
            height: 66px;
            background: url(Source/Images/ajax-loader.gif) center no-repeat;
        }

        .one {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -33px;
            margin-left: -33px;
            width: 66px;
            height: 66px;
            background: url(Source/Images/ajax-loader.gif) center no-repeat;
        }

        .cover {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.75);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #menu {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        .nowrap {
            white-space: nowrap;
        }

        button.cesium-infoBox-camera {
            display: none;
        }

        #3DTiles {
            padding-top: 0px;
        }

        #toolbar {
            z-index: 0;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>

    <!-- Cesium css file -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.73/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.73/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>

<body>
    <!-- Cesium container load here -->
    <div id="cesiumContainer"></div>

    <!-- Controling the flight phase in cesium page -->
    <div id="toolbar">
        <select class="cesium-button" id="dropdown">
            <option value="0">Select Flight Phase</option>
            <option value="1">Show Taxiing</option>
            <option value="2">Show Takeoff</option>
            <option value="3">Show Climb</option>
            <option value="4">Show Cruise to Final</option>
            <option value="5">Show Full Flight</option>
        </select>
        <button class="cesium-button" onClick="window.location.reload();"> Refresh Cesium </button>

    </div>

<!--        <script src = "src/main/javascript/cesium_page.js">-->

<!--    SCRIPT HAS TO BE EMBEDDED IN HTML FILE -->
    <script>

        // Access Cesium Ion Token here
        // Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI1ZWY3N2EwMi1kZDBlLTQ0MzMtYWFhYi0wZGYxMjA3MmI2YmMiLCJpZCI6MTY3NzIsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NzExODM0NDl9.zmhbWpPCHT8kONpntN_Y2XCsV07Yep-kdIHfhOcPC5A';
        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3OTU3MDVjYS04ZGRiLTRkZmYtOWE5ZC1lNTEzMTZlNjE5NWEiLCJpZCI6OTYyNjMsImlhdCI6MTY1NDMxNTk2N30.c_n2k_FWWisRoXnAFVGs6Nbxk0NVFmrIpqL12kjE7sA'
        // Creates the Viewer
        var viewer = new Cesium.Viewer('cesiumContainer', {
            scene3DOnly: true,
            selectionIndicator: false,
            baseLayerPicker: false
        });

        var airframeModels = {};

        async function loadAirframes() {
            const airplaneURI = await Cesium.IonResource.fromAssetId(1084423);
            airframeModels.Airplane = airplaneURI;

            // TODO: Add drone model
        }

        loadAirframes();

        viewer.scene.globe.depthTestAgainstTerrain = true;

        var scopes = {{{ cesium_data }}};
        var keys = Object.keys(scopes);
        var today = new Date();
        // const airplaneURI = await Cesium.IonResource.fromAssetId(1084423);

        // var firstFlightId = scopes[keys[0]];
        var timeStepInSeconds = 0;
        var totalSeconds = 0;
        var startTime = Number.POSITIVE_INFINITY;
        var endTime = Number.NEGATIVE_INFINITY;
        var positionPropertyList = [];
        var trackedEntities = [];

        viewer.clock.startTime = Cesium.JulianDate.fromIso8601("9999-12-31T00:00:00");
        viewer.clock.endTime = Cesium.JulianDate.fromIso8601("0000-01-01T00:00:00")

        async function loadModel(airframe) {
            const airplaneEntity = viewer.entities.add({
                availability: new Cesium.TimeIntervalCollection([new Cesium.TimeInterval({start: startTime, stop: endTime})]),
                position: positionProperty,
                model: {uri: airframeModels[airframe]},
                orientation: new Cesium.VelocityOrientationProperty(positionProperty),
                path: new Cesium.PathGraphics({width: 3}),
            });

            viewer.trackedEntity = airplaneEntity;
            trackedEntities.push(airplaneEntity);
            console.log("Model loaded")
        }

        function initializeReplay(keyIndex) {
            console.log("Initializing replay of flight at index " + keyIndex);

            // Initialize viewer clock
            timeStepInSeconds = scopes[keys[keyIndex]].timeStepInSeconds;
            totalSeconds = scopes[keys[keyIndex]].totalTime;

            startTime = Cesium.JulianDate.fromIso8601(scopes[keys[keyIndex]].startTime);
            endTime = Cesium.JulianDate.fromIso8601(scopes[keys[keyIndex]].endTime);
            positionProperty = new Cesium.SampledPositionProperty();
            positionPropertyList.push(positionProperty);

            console.log({
                "Timestep" : timeStepInSeconds,
                "Total Seconds" : totalSeconds,
                "Start Time" : startTime,
                "End Time" : endTime
            })

            if (Cesium.JulianDate.compare(startTime, viewer.clock.startTime) < 0) {
                console.log("Earlier time detected. Setting start time to " + startTime)
                viewer.clock.startTime = startTime.clone();
                viewer.clock.currentTime = startTime.clone();
            }

            if (Cesium.JulianDate.compare(viewer.clock.stopTime, endTime) > 0) {
                console.log("Later time detected. Setting end time to " + endTime);
                viewer.clock.stopTime = endTime.clone();
            }

            viewer.clock.shouldAnimate = true; //  Autostart flight replay
            viewer.clock.multiplier = 50; // Set playback speed
            viewer.timeline.zoomTo(startTime, endTime);

            var airframeModelUsed = "";
            switch (scopes[keys[keyIndex]].airframeType) {
                case "Fixed Wing":
                    airframeModelUsed = "Airplane";

                case "UAS Rotorcraft":
                    airframeModelUsed = "Drone"

                default:
                    airframeModelUsed = "Airplane"; // TODO: Maybe just make it a green dot
            }

            loadModel(airframeModelUsed);
        }

        // Setting default phase
        for (var i = 0; i < keys.length; i++) {
            initializeReplay(i);


            let flightId = keys[i];
            let InfoAglDemo = scopes[flightId].flightGeoInfoAgl;
            let InfoAglDemoTimes = scopes[flightId].flightAglTimes;
            var geoFlightLoadAGLEntireDemo = viewer.entities.add({

                name: "NGAFID CESIUM DEMO: " + keys[i],
                wall: {
                    positions: Cesium.Cartesian3.fromDegreesArrayHeights(InfoAglDemo),
                    material: Cesium.Color.WHITESMOKE.withAlpha(0.8),
                    cornerType: Cesium.CornerType.BEVELED,
                },
            });

            var geoFlightKeepGroundEntireDemo = viewer.entities.add({

                name: "NGAFID CESIUM DEMO: " + keys[i],
                polyline: {
                    positions: Cesium.Cartesian3.fromDegreesArrayHeights(InfoAglDemo),
                    width: 1,
                    material: new Cesium.PolylineOutlineMaterialProperty({
                        color: Cesium.Color.LEMONCHIFFON,
                        outlineWidth: 2,
                        outlineColor: Cesium.Color.BLACK,
                    }),
                    clampToGround: true,
                },
            });


            var timestep = 0;
            var positions = Cesium.Cartesian3.fromDegreesArrayHeights(InfoAglDemo);

            for (let j = 0; j < positions.length; j++) {
                const time = Cesium.JulianDate.fromIso8601(InfoAglDemoTimes[j]);
                const position = positions[j];

                positionPropertyList[i].addSample(time, position);

                viewer.entities.add({
                    postion: position,
                    point: {
                        pixelSize: 10,
                        color: Cesium.Color.RED
                    },
                });

                timestep++;
            }

        }

        // Setting taxiing phase
        function applyNgafidStyleTaxi() {
            for (var i = 0; i < keys.length; i++) {

                let flightId = keys[i];
                let taxiing = scopes[flightId].flightGeoAglTaxiing;

                var geoFlightLoadAGLTaxi = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAXIING ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Taxiing</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    wall: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(taxiing),
                        material: Cesium.Color.BLUE.withAlpha(0.8),
                        cornerType: Cesium.CornerType.BEVELED,
                    },

                });

                var geoFlightlineTaxi = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAXIING ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Taxiing</p>" + "<hr> <p> Displaying Time: " + today + "</p>",

                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(taxiing),
                        width: 3,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.BLUE,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                    },
                });

                var geoFlightKeepGroundTaxi = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAXIING ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Taxiing</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(taxiing),
                        width: 1,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.BLUE,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                        clampToGround: true,
                    },
                });

                // Setting viewer points and direction based on phase
                viewer.zoomTo(viewer.entities);
                var scene = viewer.scene;
                var skyAtmosphere = scene.skyAtmosphere;
                var globe = scene.globe;
            }
        }

        // Setting a takeOff-liftOff phase
        function applyNgafidStyleTakeoff() {
            for (var i = 0; i < keys.length; i++) {

                let flightId = keys[i];
                let TakeOff = scopes[flightId].flightGeoAglTakeOff;

                var geoFlightLoadAGLTakeoff = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAKEOFF ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Takeoff</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    wall: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(TakeOff),
                        material: Cesium.Color.PURPLE.withAlpha(0.8),
                        cornerType: Cesium.CornerType.BEVELED,
                    },
                });

                var geoFlightlineTakeoff = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAKEOFF ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Takeoff</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(TakeOff),
                        width: 3,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.PURPLE,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                    },
                });

                var geoFlightKeepGroundTakeoff = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT TAKEOFF ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Takeoff</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(TakeOff),
                        width: 1,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.PURPLE,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                        clampToGround: true,
                    },
                });

            }
        }

        // Setting a climb phase
        function applyNgafidStyleClimb() {

            for (var i = 0; i < keys.length; i++) {

                let flightId = keys[i];
                let Climb = scopes[flightId].flightGeoAglClimb;

                var geoFlightLoadAGLClimb = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CLIMB ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Climb</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    wall: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Climb),
                        material: Cesium.Color.SADDLEBROWN.withAlpha(0.8),
                        cornerType: Cesium.CornerType.BEVELED,
                    },
                });

                var geoFlightlineClimb = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CLIMB ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Climb</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Climb),
                        width: 3,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.SADDLEBROWN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                    },
                });

                var geoFlightKeepGroundClimb = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CLIMB ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Climb</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Climb),
                        width: 1,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.SADDLEBROWN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                        clampToGround: true,
                    },
                });

            }
        }

        // Setting post cruise to final flight phase
        function applyNgafidStyleCruise() {
            for (var i = 0; i < keys.length; i++) {

                let flightId = keys[i];
                let Cruise = scopes[flightId].flightGeoAglCruise;

                var geoFlightLoadAGLRest = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CRUISE TO FINAL ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Cruise to Final</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    wall: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Cruise),
                        material: Cesium.Color.LIGHTCYAN.withAlpha(0.8),
                        cornerType: Cesium.CornerType.BEVELED,
                    },
                });

                var geoFlightlineRest = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CRUISE TO FINAL ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Cruise to Final</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Cruise),
                        width: 3,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.MEDIUMSEAGREEN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                    },
                });

                var geoFlightKeepGroundRest = viewer.entities.add({

                    name: "NGAFID CESIUM FLIGHT CRUISE TO FINAL ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Flight - Cruise to Final</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(Cruise),
                        width: 1,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.MEDIUMSEAGREEN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                        clampToGround: true,
                    },
                });

            }
        }

        // Apply full flight phase
        function applyNgafidStyleEntire() {

            for (var i = 0; i < keys.length; i++) {

                let flightId = keys[i];
                let InfoAgl = scopes[flightId].flightGeoInfoAgl;

                var geoFlightLoadAGLEntire = viewer.entities.add({

                    name: "NGAFID CESIUM FULL FLIGHT ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Full Flight</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    wall: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(InfoAgl),
                        material: Cesium.Color.LIGHTCYAN.withAlpha(0.8),
                        cornerType: Cesium.CornerType.BEVELED,
                    },
                });

                var geoFlightlineEntire = viewer.entities.add({

                    name: "NGAFID CESIUM FULL FLIGHT ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Full Flight</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(InfoAgl),
                        width: 3,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.MEDIUMSEAGREEN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                    },
                });

                var geoFlightKeepGroundEntire = viewer.entities.add({

                    name: "NGAFID CESIUM FULL FLIGHT ",
                    description: "<a><h3> NGAFID Flight ID: " + keys[i] + "</h3> </a>" + " <hr> <p> Reanimation of Full Flight</p>" + "<hr> <p> Displaying Time: " + today + "</p>",
                    polyline: {
                        positions: Cesium.Cartesian3.fromDegreesArrayHeights(InfoAgl),
                        width: 1,
                        material: new Cesium.PolylineOutlineMaterialProperty({
                            color: Cesium.Color.MEDIUMSEAGREEN,
                            outlineWidth: 2,
                            outlineColor: Cesium.Color.BLACK,
                        }),
                        clampToGround: true,
                    },
                });

            }
        }

        function toggleAirframeLockCamera() {
            if (viewer.trackedEntity != null) {
                viewer.trackedEntity = null;
            } else {
                loadModel("Airplane"); // TODO: Make a function to determine model to use
            }
        }

        // Set menu options
        const menu = document.getElementById("dropdown");
        const bar = document.querySelector("div.cesium-viewer-toolbar");

        menu.options[1].onselect = function () {
            applyNgafidStyleTaxi();
        };

        menu.options[2].onselect = function () {
            applyNgafidStyleTakeoff();
        };

        menu.options[3].onselect = function () {
            applyNgafidStyleClimb();
        };

        menu.options[4].onselect = function () {
            applyNgafidStyleCruise();
        };

        menu.options[5].onselect = function () {
            applyNgafidStyleEntire();
        };

        menu.onchange = function () {
            var item = menu.options[menu.selectedIndex];
            if (item && typeof item.onselect === "function") {
                item.onselect();
            }
        };

        const modeButton = document.querySelector("span.cesium-sceneModePicker-wrapper");

        const toggleAirframeLockButton = document.createElement("button");
        toggleAirframeLockButton.onclick = function () {
            toggleAirframeLockCamera();
        };
        toggleAirframeLockButton.textContent = "LOCK"
        toggleAirframeLockButton.classList.add("cesium-button", "cesium-toolbar-button");
        toggleAirframeLockButton.innerHTML = "";
        bar.insertBefore(toggleAirframeLockButton, modeButton);



        viewer.zoomTo(viewer.entities);
        var scene = viewer.scene;
        var skyAtmosphere = scene.skyAtmosphere;
        var globe = scene.globe;



        // var viewModel = {
        //     hueShift: 0.0,
        //     saturationShift: 0.0,
        //     brightnessShift: 0.0
        // };

        // Convert view into  observables model
        Cesium.knockout.track(viewModel);
        // Model bind to the DOM elements
        var toolbar = document.getElementById('toolbar');
        Cesium.knockout.applyBindings(viewModel, toolbar);

        // Make globe view to 3D skyAtmosphere with HSB parameters.
        // This can be use in ngafid flight on different altitutes
        function subscribeParameter(name, globeName) {
            Cesium.knockout.getObservable(viewModel, name).subscribe(
                function (newValue) {
                    skyAtmosphere[name] = newValue;
                    globe[globeName] = newValue;
                }
            );
        }
        subscribeParameter('hueShift', 'atmosphereHueShift');
        subscribeParameter('saturationShift', 'atmosphereSaturationShift');
        subscribeParameter('brightnessShift', 'atmosphereBrightnessShift');

        // cesium default globe layer removed for better view
        viewer.imageryLayers.remove(viewer.imageryLayers.get(0));

        // Added world asset with globe ID for better sentinel imagery view
        viewer.imageryLayers.addImageryProvider(new Cesium.IonImageryProvider({ assetId: 3954 }));



    </script>

<!--    <script src="/js/ngafid_cesium-bundle.js"></script>-->

</body>
</html>
