/* index.css */
@import "tailwindcss";

@config "../tailwind.config.js";


@layer utilities {

    /* Disabled Button */
    .button-disabled {
        filter: grayscale(100%) !important;
        cursor: not-allowed !important;
    }
    .disabled\:button-disabled:disabled {
        filter: grayscale(100%) !important;
        cursor: not-allowed !important;
    }
    .peer:invalid ~ .peer-invalid\:button-disabled {
        filter: grayscale(100%) !important;
        cursor: not-allowed !important;
    }
}