.DS_Store
.idea
target/*
src/main/resources/public/js/*
.cache-loader/*
init_env.sh
db/db_info.php
db/db_info
email_info.txt
data/*
ngafid-db/src/liquibase.properties
ngafid-core/target/*
ngafid-www/target/*
ngafid-data-processor/target/*
ngafid-frontend/node_modules
ngafid-static/js/*
ngafid-chart-processor/charts/*
ngafid-db/target/*
ngafid-airsync/target
ngafid-chart-processor/temp
ngafid-frontend/.webpack_cache/*
.env
.env.host
ngafid-db/src/liquibase.docker.properties
ngafid-email.conf
ngafid.properties