.DS_Store
.idea
*.class
connect_db.sh
db/dbinfo
dbinfo.php
db/dbinfo.php
node_modules
target/*
src/main/resources/public/js/*
.cache-loader/*
init_env.sh
db/db_info.php
db/db_info
email_info.txt
package-lock.json
data/archive/*