:root {
    --valid: green;
    --warning: #eb9515;
    --danger: #dc3545;
    --info: gray;
}

html, body {
    background: url('../images/clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.nav-item {
    border-radius: 8px;
    transition: background-color 0.1s
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    z-index: 100;
}

.time-without-am-pm::-webkit-datetime-edit-ampm-field {
    display: none;
}


.btn-group > .btn:first-of-type {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-of-type,
.btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
