[Unit]
Description=NGAFID Upload Consumer
After=network-online.target kafka.service
PartOf=ngafid.target

[Service]
Type=simple
User=www
Group=www
WorkingDirectory=/opt/ngafid/ngafid2.0
Environment=PARALLELISM=2
ExecStart=/bin/bash -ac '. /etc/ngafid.conf; exec run/prod/kafka/upload_consumer'

[Install]
WantedBy=ngafid.target
