[Unit]
Description=NGAFID Event Consumer
After=network-online.target kafka.service
PartOf=ngafid.target

[Service]
Type=simple
User=www
Group=www
WorkingDirectory=/opt/ngafid/ngafid2.0
ExecStart=/bin/bash -ac '. /etc/ngafid.conf; exec run/kafka/event_consumer'

[Install]
WantedBy=ngafid.target
