TEST_MODE=true                         
LOCALHOST_PORT=8181                    
PRODUCTION_HOST=ngafid.org
TARGET_PATHS=/protected/welcome,/protected/uploads,/protected/bug_report
 
LOGIN_USERNAME=your_email
LOGIN_PASSWORD=your_password
LOGIN_TRIGGER_TEXT=Login
LOGIN_MODAL_SELECTOR=.modal-dialog
LOGIN_USERNAME_FIELD=loginEmail
LOGIN_PASSWORD_FIELD=loginPassword
LOGIN_SUCCESS_URL_CONTAINS=/protected