# Timer for backing up the NGAFID

[Unit]
Description=Logs some system statistics to the systemd journal
Requires=ngafid-backup.service

[Timer]
Unit=ngafid-backup.service
OnCalendar=Weekly

[Install]
WantedBy=timers.target
