name: Lint

on:
  pull_request:
    branches: [ main, aidan_cu/main_july2025 ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Super-Linter tools
        uses: actions/cache@v4
        with:
          path: ~/.cache/super-linter
          key: super-linter-${{ runner.os }}-v6
          restore-keys: |
            super-linter-${{ runner.os }}-

      - name: Lint
        uses: github/super-linter@v6

        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVA: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSX: true
          IGNORE_GITIGNORED_FILES: true
          LINTER_RULES_PATH: .github/linters
          JAVA_FILE_NAME: checkstyle.xml
          JAVA_JVM_COMMAND_ARGS: "-Dorg.checkstyle.sun.suppressionfilter.config=.github/linters/checkstyle-suppressions.xml"
          # TODO: Remove once Javalin PR is merged
          FILTER_REGEX_EXCLUDE: "(org/ngafid/routes|cesium/Build)/*"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
