name: Compile and Test

on:
  pull_request:
    branches: [ main, aidan_cu/main_july2025 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 22
        uses: actions/setup-java@v3
        with:
          java-version: 22
          distribution: 'adopt'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build
        run: run/build

      - name: Setup DAT2CSV
        run: run/setup_dat_importing

      - name: Test
        run: mvn test

      - name: Package
        run: run/package

