name: Lint

on:
  pull_request:
    branches: [main, josh/refactor]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint
        uses: github/super-linter@v4

        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVA: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSX: true
          VALIDATE_PHP: true
          IGNORE_GITIGNORED_FILES: true
          LINTER_RULES_PATH: .github/linters
          JAVA_FILE_NAME: checkstyle.xml
